// Colores
$color-brown-dark: #382920;
$color-brown-medium: #714227;
$color-brown-light: #bb8466;
$color-sand: #cea48e;

$color-black: #000000;
$color-white: #ffffff;
$color-record-yellow: #ffcc00;

// ======= FUENTES =======
$font-nunito: "Nunito", sans-serif;
$font-lora: "Lora", serif;

// Sombras
$shadow-standard: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
$shadow-large: 1rem 1rem 2rem rgba(0, 0, 0, 0.6);
